:root {
  --white: #fff;
  --red: red;
  --grey: grey;
  --black: black;
}
* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  text-decoration: none;
  font-family: myFirstFont;
  color: var(--white);
  list-style-type: none;
}
@font-face {
  font-family: myFirstFont;
  src: url("../font/NetflixSansRegular.ttf");
}

header {
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat no-repeat;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  padding: 0rem 2rem;
  border-bottom: 10px solid var(--grey);
}
.signin {
  height: 80vh;
  width: 35%;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  position: relative;
  top: 0px;
  margin: -3rem auto 2rem;
  padding: 4rem 4rem 5rem;
  display: grid;
}
.signin form {
  display: grid;
  gap: 1rem;
}
.signin form h3 {
  font-size: 2.5rem;
}
.signin form input {
  padding: 0.9rem 1.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
  color: var(--black);
}
.signin form button {
  background-color: var(--red);
  border: none;
  padding: 0.9rem 1.5rem;
  margin-top: 2rem;
  border-radius: 5px;
  cursor: pointer;
}
.needHelpRememberMe {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-top: -0.7rem;
}
.needHelpRememberMe span input,
label,
a {
  color: var(--grey);
}
input[type="checked"]:checked {
  background-color: var(--grey);
  color: var(--grey);
}
.new {
  color: var(--grey);
  margin: 3.5rem 0rem 1.5rem;
  font-size: 1rem;
}
.new a {
  color: var(--white);
}
.captcha {
  font-size: 0.8rem;
}
nav {
  display: flex;
  justify-content: space-between;
  z-index: 5;
}
nav img {
  width: 15rem;
  /* height: 40px; */
}
nav a {
  background-color: var(--red);
  color: #fff;
  padding: 0rem 1.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.getstarted {
  margin: 1.5rem auto;
  text-align: center;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.getstarted input[type="email"],
button {
  padding: 1rem 2rem;
}
input {
  border: none;
}
input:focus {
  outline: 1px solid var(--red);
}

.getstarted button {
  padding: 1rem;
  background-color: var(--red);
  border: none;
  color: #fff;
  font-size: 1.5rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  cursor: pointer;
}
footer {
  padding: 3rem 4rem;
  background-color: var(--black);
}
.footerLinks {
  margin-top: 2rem;
}
.footerLinks ul {
  display: grid;
  /* justify-content: space-around;
  flex-wrap: wrap; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 2rem;
}
.footerLinks ul a li {
  text-align: left;
  font-size: 1rem;
}
