:root {
  --white: #fff;
  --red: red;
  --grey: grey;
  --black: black;
}
* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  text-decoration: none;
  font-family: myFirstFont;
  color: var(--white);
}
@font-face {
  font-family: myFirstFont;
  src: url("../font/NetflixSansRegular.ttf");
}
.overlay {
  position: fixed;
  top: 0;
  background-color: linear-gradient(0deg, 50%, rgba(102, 230, 17, 1)),
    radial-gradient(50% 100%, 0, rgba(172, 241, 10, 1) 100%);
}
header {
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat no-repeat;
  height: 100vh;
  /* overlay style */
  /* background-color: linear-gradient(0deg, transparent 50%, rgba(0, 0, 0, 0.7)),
    radial-gradient(50% 100%, transparent 0, rgba(0, 0, 0, 0.7) 100%); */
  /* backdrop-filter: blur(100px); */
  /* background-color: black; */

  background-blend-mode: lighten;
  padding: 1.5rem 4rem;
  border-bottom: 10px solid var(--grey);
}
nav {
  display: flex;
  justify-content: space-between;
  z-index: 5;
}
nav img {
  width: 40px;
  height: 40px;
}
nav a {
  background-color: var(--red);
  color: #fff;
  padding: 0rem 1.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.hero {
  display: flex;
  justify-content: center;
  /* background-color: linear-gradient(0deg, transparent 50%, rgba(0, 0, 0, 0.7)),
    radial-gradient(50% 100%, transparent 0, rgba(0, 0, 0, 0.7) 100%); */
  /* border: 1px solid yellow; */
}
.heroContent {
  display: grid;
  place-items: center;
  width: 50%;
  margin-top: 10rem;
  /* border: 1px solid red; */
}
.heroContent h1,
h2,
p {
  color: white;
}
.heroContent h1 {
  font-size: 3.2rem;
  text-align: center;
}
.heroContent h2 {
  font-size: 1.5rem;
  /* width: 50%; */
  font-weight: lighter;
  text-align: center;
}
.heroContent p {
  font-weight: lighter;
  margin-top: 1rem;
}
.heroContent form {
  /* width: 100%; */
  margin: 1.5rem auto;
  text-align: center;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.heroContent form input[type="email"],
button {
  padding: 1rem 2rem;
}
input {
  border: none;
}
input:focus {
  outline: 1px solid var(--red);
}

.heroContent form button {
  padding: 1rem;
  background-color: var(--red);
  border: none;
  color: #fff;
  font-size: 1.5rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  cursor: pointer;
}
section {
  background-color: var(--black);
  padding: 1rem 3rem 3rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 10px solid var(--grey);
}
section div h3 {
  font-size: 3.2rem;
}
section div p {
  font-size: 1.8rem;
  margin-top: 2rem;
}
#section3 .sectionDetails h3 {
  width: 50%;
}
.faqSection {
  display: grid;
  justify-content: center;
  align-content: center;
}
.faq {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 2rem;
}
details {
  width: 100%;
  border-bottom: 5px solid var(--black);
}
summary {
  font-size: 2rem;
  padding: 1.5rem;
  background-color: var(--grey);
}
details p {
  font-size: 1.5rem;
  padding: 1.5rem;
  background-color: var(--grey);
}
footer {
  padding: 3rem 4rem;
  background-color: var(--black);
}
